* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #838383;
}

h1, h2, h3, h4, h5 { 
    font-weight: 500;
}

h2 {
    font-weight: bold ;
    color: #000;
}
/* UTILITIES */
.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix {
    content:'';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w-50 {
    width: 50%;
}


/* BUTTON */
.btn {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.btn.btn-green {
    background-color: #7cbb01;
    border: 0;
}

.btnbig {
    padding: 20px
}

/* HELP */
.help {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 80%;
    min-width: 0;
}

/* HEADER */
.main-header {
    line-height: 80px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background: #0d325a
}

/* LOGO */
.logo {
    width: 15%;
}

.logo img {
    vertical-align: middle;
}

/* NAVBAR */
.navbar ul li {
    display: inline-block;
    margin-left: 15px;
}

.navbar a {
    text-decoration: none;
    color:#fff;
    line-height: 1;
}

.navbar a:not(.btn):hover {
    color: #7cbb01;
}

/* NAV-CENTER */
.nav-center {
    width: 45%;
}


/* NAV - RIGHT */
.nav-right {
    width: 40%;
    text-align: right;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #0d325a;
    height: 480px;
    background-image: url('../img/background-header.png');
    background-size:  1000px;
    background-repeat: no-repeat;
    background-position: 120% bottom;
}

/* JUMBOTEXT */

.jumbotron .container {
    position: relative;
    height: 100%;
}

.jumbotext {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotext h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 20px;
}

/* SEC-AFTERJUMBO */

.sec-afterjumbo {
    position: relative;
    height: 150px;
    background: #d3d3d3;
}

.sec-afterjumbotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
    
}

.sec-afterjumbotext h2 {
    color: #000;
    padding-bottom: 10px;
}

/* SECTION TABLE */
.sec-table .table .colon {
    position: relative;
    width: 29%;
    margin: 3% 2%;
}


.sec-table .table .colon img {
    width: 350px;
    height: 150px;
    margin-bottom: 20px;
}

.sec-table .table .colon h2 {
    text-align: center;
    color: #7cbb01;
}

.sec-table .table .colon p {
    text-align: center;
}

.sec-table {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

hr { 
    width: 25%;
    display: block;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* SECTION TABLE2 */
.sec-table2 .table .colon {
    width: 44%;
    margin: 3%;
}

.sec-table2 .table .colon-dx h2 {
    color: #000;
    font-size: 35px;
}

.sec-table2 .table .colon-dx h3 {
    margin: 20px 0;
}

.sec-table2 .table .colon-dx a {
    color: dodgerblue;
}

/* STRUTTURA */
.struttura {
    background: #d3d3d3;
}

.struttura h2 {
    color: #000;
    padding: 20px;
}

.struttura .table .colon {
    width: 44%;
    margin: 3%;
}

.seleziona {
    color: #838383;
    margin: 0px 30px;
}


/* HELP */
.help {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    border: 1px solid #7cbb01;
    padding: 10px;
    text-align: center;
    
    background-color: #7cbb01;
    
}

.help a {
    text-decoration: none;
    color: #fff;
}

/* SECTION TIRD */
.btntext ul li {
    display: inline-block;
    width: 45%;
}
.sec-table2.hand {
    padding: 50px;
}

.sec-table2 .colon .btntext .btn {
    text-decoration: none;
    color: #fff;
    text-align: left;
}

.btntext h3 {
    text-align: center;
}

/* SECTION FORTH */

.pc .container {
    text-align: center;
    width: 695px;
}

.pc .container img {
    width: 700px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.pc .container h4 {
    font-size: 12px;
    margin: 20px 0;
}

/* TESTO GREEN */
.pc .container span {
    color: #7cbb01;
}

.pc .container a {
    color: dodgerblue;
    font-size: 16px;
}

/* SECTION 5 */
.blue {
    height: 500px;
    background-color: #0d325a;
}

.banner-text {
    width:25%;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(50%) ;
}

.banner-text h2 {
    color: #fff;
}

.banner-text h3 {
    padding: 30px 0;
}

/* SECTION 6 */
 .plan .table .colon img {
    width: 80px;
}

.plan .table .colon h2 {
    text-align: left;
    color: #000;
    padding: 20px 0;
}

.plan .table .colon p {
    text-align: left;
}

.plan-text h2 {
    line-height: 150px;
    text-align: center;
}

/* BORDER */
.colon .border {
    border: 4px solid;
    margin: 20px 0;
}

.border-blue {
    color: dodgerblue;
    background: dodgerblue;
}

.border-orange {
    color: orange;
    background: orange;
}

.border-green {
    color: green;
    background: green;
}

.str-blue {
    color: dodgerblue;
}

.str-orange {
    color: orange;
}

.str-green {
    color: green;
}

