* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #838383;
}

/* UTILITIES */
.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix {
    content:'';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.btn {
    display: inline-block;
    line-height: 1;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/* HEADER */
.main-header {
    line-height: 80px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background: #0d325a
}

/* LOGO */
.logo {
    width: 15%;
}

.logo img {
    vertical-align: middle;
}

/* NAVBAR */
.navbar ul li {
    display: inline-block;
    margin-left: 15px;
}

.navbar a {
    text-decoration: none;
    color:#fff
}

/* NAV-CENTER */
.nav-center {
    width: 45%;
}


/* NAV - */
.nav-right {
    width: 40%;
    text-align: right;
}